---
layout: default
---
        {% include /sidehaus.html %}
        {% include /tophaus.html %}
        <div class="col-md-10 col-md-offset-2 col-sm-12 col-xs-12" id=
        "mainhaus">
            <div class="row">
                <h1 class="whitebox">Contact</h1>
            </div>
            <div class="row">
                <form action="contact" class=
                "col-md-10 col-sm-12 col-xs-12 form-horizontal" method="post">
                    <div class="form-group">
                        <label class=
                        "col-md-2 col-sm-2 col-xs-12 control-label" for=
                        "name">Name:</label><input class=
                        "col-md-9 col-sm-9 col-xs-12" name="contactname" type=
                        "text">
                    </div>
                    <div class="form-group">
                        <label class=
                        "col-md-2 col-sm-2 col-xs-12 control-label" for=
                        "subject">Subject:</label><input class=
                        "col-md-9 col-sm-9 col-xs-12" name="subject" type=
                        "text">
                    </div>
                    <div class="form-group">
                        <label class=
                        "col-md-2 col-sm-2 col-xs-12 control-label" for=
                        "email">Email:</label><input class=
                        "col-md-9 col-sm-9 col-xs-12" name="email" type=
                        "email">
                    </div>
                    <div class="form-group">
                        <label class=
                        "col-md-2 col-sm-2 col-xs-12 control-label" for=
                        "koolthings">Say Kool Things:</label>
                        <textarea class="col-md-9 col-sm-9 col-xs-12" cols="60"
                        id="koolthings" name="message" rows="20"></textarea>
                    </div>
                    <div class="form-group">
                        <input class=
                        "col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-9 col-xs-offset-1"
                        type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-push-2">
                    <footer class="text-center">
                        kh • <a href="/">about</a> • <a href=
                        "/practices">practices</a> • <a href=
                        "/clients">clients</a> • <a href="/jobs">jobs</a> •
                        <a href="/contact">contact</a> • © 2015 — koolhaus llc
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>