---
layout: default
---
        {% include /sidehaus.html %}
        {% include /tophaus.html %}
        
        <div class="practicesback container-fluid">
            <div class="col-md-9 col-md-offset-2" id="mainhaus">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="whitebox">Practices</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="blueback col-md-7">
                            <h2>Web Design</h2>
                            <p>We believe in the power and value of beautiful
                            experiences. We take into account everything from
                            user psychology & color theory in designing web
                            experiences that WOW and drive your organization
                            through its goals.</p>
                            <h3>What we do</h3>
                            <p>• Wireframing</p>
                            <p>• Storyboarding</p>
                            <p>• Mockups</p><a href="/contact"><button class=
                            "arrow">Learn More &gt;</button></a>
                        </div>
                        <div class="pinkback col-md-5 col-md-offset-7">
                            <h2>Web Development</h2>
                            <p>We do the engineering necessary to make a
                            beautiful web experiences come to life.</p>
                            <h3>What we do</h3>
                            <p>• Dynamic Front-End Engineering</p>
                            <p>• Backend-End Engineering</p>
                            <p>• Mobile and Responsive Engineering</p><a href=
                            "/contact"><button class="arrow">Learn More
                            &gt;</button></a>
                        </div>
                        <div class="yellowback col-md-7">
                            <h2>Growth Hacking</h2>
                            <p>It's a travesty: great teams building great
                            products that people want often fail because they
                            don't know how to drive the growth necessary to
                            make the value they provide sustainable. That's
                            where we come in!</p>
                            <h3>What we do</h3>
                            <p>• Define Success Metrics</p>
                            <p>• Develop Testable Hypotheses</p>
                            <p>• Prioritize Based on ROI</p>
                            <p>• Design A/B Tests</p>
                            <p>• Impliment A/B Tests</p>
                            <p>• Help you glean the important
                            insights</p><a href="/contact"><button class=
                            "arrow">Learn More &gt;</button></a>
                        </div>
                        <div class="whiteback col-md-5 col-md-offset-7">
                            <h2>Strategic Consulting</h2>
                            <p>We help you define business goals and help you
                            achieve them</p>
                            <h3>What we do</h3>
                            <p>• Startup + Break Even Analysis</p>
                            <p>• Business Model Development</p>
                            <p>• Team Building</p>
                            <p>• Cultural Design</p>
                            <p>• That special something</p><a href=
                            "/contact"><button class="arrow">Learn More
                            &gt;</button></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Want to learn more?</h1>
                    </div>
                    <div class="whitebox col-md-12">
                        <form action="/submitemail" method="post">
                            <input id="learnmoreemail" name="email"
                            placeholder="Your Email Address" type=
                            "email"><input name="source" type="hidden" value=
                            "main"><input id="learnmoresubmit" type="submit"
                            value="Submit">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-push-2">
                        <footer class="text-center">
                            kh • <a href="/">about</a> • <a href=
                            "/practices">practices</a> • <a href=
                            "/clients">clients</a> • <a href="/jobs">jobs</a> •
                            <a href="/contact">contact</a> • © 2015 — koolhaus
                            llc
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>